<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Plan</title>
  </head>
  <body>
    <h1>Add a Trip</h1>
    <div>

      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
    </div>
    <form class="" action="/addProcess" method="post">
      {% csrf_token %}
      <label for="destination">Destination:</label>
      <input type="text" name="destination" placeholder="Type in your Destination">
      <label for="description">Description:</label>
      <input type="text" name="description" placeholder="Type in your Description">
      <label for="fromDate">Travel Date From:</label>
      <input type="date" name="fromDate">
      <label for="toDate">Travel Date To:</label>
      <input type="date" name="toDate">
      <input type="submit" name="submit" value="Add">
    </form>
  </body>
</html>
